<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="search-container">
    <input type="text" id="searchBox" onkeyup="searchExams()" placeholder="Enter module number or name (e.g. IN0011)">
    <button id="contributeButton" onclick="location.href='/upload'">Contribute your stats</button>
</div>
<div class="note" id="tip">Tip: Use module numbers for consistent search results, as module names can vary.</div>
<div id="html-output"></div>
<div id="standard"></div>
<div style="position: fixed; bottom: 1em; right: 1em;">
    <a href="https://stats.aamin.dev/old" class="old-link">Visit Old Website</a>
</div>
<script>
    function searchExams() {
        const input = document.getElementById('searchBox');
        const standardDiv = document.getElementById('standard');

        fetch(`/search?query=${encodeURIComponent(input.value)}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById("html-output").innerHTML = '';
                data.forEach(element => {
                    const div = document.createElement('div');
                    div.classList.add('stats');
                    div.innerHTML = element;
                    document.getElementById('html-output').appendChild(div);
                });
            })
            .catch(error => console.error('Error:', error));

        standardDiv.style.display = input.value.trim() === '' ? 'block' : 'none';
    }

    setTimeout(function() {
        document.getElementById('tip').style.display = 'none';
    }, 10000);
</script>
</body>
</html>